@{
    ViewBag.Title = Localizer["Edit Order"];
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
}

<div class="page-banner no-subtitle">
    <div class="row">
        <div class="col-md-6">
            <h2>@Localizer["Edit Order"]</h2>
        </div>
        <div class="col-md-6">
            <ul class="breadcrumbs">
                <li><a href="#">@Localizer["Orders"]</a></li>
                <li>@Localizer["Edit Order"]</li>
            </ul>
        </div>
    </div>
</div>

<form name="myForm" novalidate>
    <div ng-controller="SalesReturnCtrl" class="form-horizontal">
        <div class="row">
            <div class="col-md-12">                
                <table class="tbl-order-details" style="margin-bottom:15px; float:left;">
                    <tr>
                        <td style="font-weight:600;">@Localizer["Order Code"]:</td>
                        <td><span id="orderCode"></span></td>
                    </tr>
                    <tr>
                        <td style="font-weight:600;">@Localizer["Order Mode"]:</td>
                        <td><span id="orderMode"></span></td>
                    </tr>
                    <tr>
                        <td style="font-weight:600;">@Localizer["Order Status"]:</td>
                        <td><span id="orderStatus"></span></td>
                    </tr>
                    <tr>
                        <td style="font-weight:600;">@Localizer["Order Date"]:</td>
                        <td><span id="orderDate"></span></td>
                    </tr>
                    <tr id="trTotalWeight">
                        <td style="font-weight:600;">@Localizer["Total Weight"]:</td>
                        <td><span id="totalWeight"></span></td>
                    </tr>
                    <tr>
                        <td style="font-weight:600;">@Localizer["Frozen Items"]:</td>
                        <td><span id="frozenItem"></span></td>
                    </tr>
                    <tr id="trDeliveryDate">
                        <td style="font-weight:600;">@Localizer["Delivery Date"]:</td>
                        <td><span id="deliveryDate"></span></td>
                    </tr>
                </table>

                <div class="print-btn-container" style="float:right; display:none;">
                    <button id="printOrder" class="btn btn-primary">@Localizer["Print Order"]</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="item-loading">
                    <img src="~/Images/ajax-loader.gif" /> @Localizer["Loading..."]
                </div>
                <div style="overflow:auto">
                    <div id="order-details-item-list"></div>
                </div>
                <div style="float:right; margin-top:15px;">
                    <button id="btnUpdateOrder" class="btn btn-primary">@Localizer["Update Order"]</button>
                </div>
            </div>
        </div>
    </div>
</form>


